body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0b1220;
  color: white;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #0f172a;
}

.carrito-icono {
  font-size: 20px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 30px;
}

/* CONTENEDOR */
.contenedor {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* CATÁLOGO */
.catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  flex: 2;
}

/* CARD PRODUCTO */
.producto {
  background: #1e293b;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.producto img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.producto button {
  margin-top: 10px;
  background: #facc15;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* CARRITO */
.carrito {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}